body
{
	background-image: url("star.jpg");
	height: auto;
	width: 99%;
	color: #000000;
}
h1 
{
	text-align: center;
}
.allpage
{
	width: 100%;
	height: 100%;
}

.UpcA 
{
	height: 170px;
	width: 100%;
	border-style: solid;
  	border-width: 2px;
  	border-color: #ccff33;
  	background-image: url("gg1.jpg");
}
.text
{
	margin-top: 20px;
	background-color: white;
	width: 600px;
	height: 100px;
	border-style: solid;
    border-width: 2px;
    border-color: #000000;
}
.marqee
{
	margin-top: 20px;
	background-color: #1a1a1a;
	width: auto;
	height: auto;
	color: white;
	border-style: solid;
  	border-width: 2px;
  	border-color: #ccff33;

}
table
{
	width: 100%;
	height: 360px;
	border-style: solid;
  	border-width: 2px;
  	border-color: #ccff33;
  	margin-top: 15px;
}
.imagestext 
{
	color: #ccff33;

}
.text1
{
	padding: 40px;
	width: 80%;
	height: auto;
}
.img1
{
	width: 250px;
	height: 350px;
}
.text2
{
	padding: 40px;
	width: 80%;
	height: 270px;
}
.p
{
	text-decoration: none;
	color: #fff;
	font-weight: lighter;
	padding: 3px;
}
a:link 
{
	color: #fff;
	border: 1px solid #fff;
}
a:visited 
{
	color: #fff;
	border: 1px solid #fff;

}
a:hover {
	color: #994593;
	font-size: 25px;
	border: 1px solid #994593;
}